{
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-react",
      {
        "modules": false,
      }
    ],
    [
      "@babel/preset-env",
      {
        "modules": false,
      }
    ],
  ],
  "env": {
    "karma": {
      "plugins": [
        [
          "istanbul",
          { "exclude": ["tests/*.test.js"] }
        ]
      ],
    },
  }
}
